body, div, ul{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#hole{
    width: 1500px;
    height: 1000px;
    margin: 0 auto;
}
#head{
    width: 1500px;
    height: 150px;
}
.logo{
    width: 400px;
    height: 150px;
    float: left;
}
.logo img{
    width: 400px;
    height: 150px;
}

.img img{
    width: 1100px;
    height: 150px;
}

#body{
    width: 1500px;
    height: 850px;
    display: flex;
    flex-direction: row;
}
#sub_wrap{
    width: 400px;
    height: 850px;
    background-color: aliceblue;
}
.login{
    width: 350px;
    height: 250px;
    margin: 10px auto;
    margin-top: 20px;
}
.id{ display: flex; flex-direction: row;}
.login div p{
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
}
.login div input{
    width: 240px;
    height: 25px;
    margin: 10px auto;
}
button{ 
    margin-top: 10px;
    width: 350px; 
    height: 40px;
    background-color: black;
    color: white;
}
.login div a{
    text-decoration: none;
}
.sub_menu{
    width: 350px;
    margin: 0 auto;
}
.sub_menu ul{list-style-type: none;}
.sub_menu ul li{
    width: 350px;
    height: 50px;
    line-height: 50px;
    background-color: lightgray;
    margin: 10px auto;
    font-size: 20px;
   
    text-align: center;
}
.sub_menu ul li a{
    text-decoration: none;
    color: black;
    display: block;
}
.sub_menu ul li:hover{
    font-weight: 900;
  
}

#main_wrap{
    width: 1100px;
    height:850px;
}
.main{
    width: 1100px;
    height: 600px;
    text-align: center;
    background-color: rgb(185, 186, 194);
}
#slideWrap { 
    width: 1100px; height: 600px; 
    overflow: hidden; 
    position: relative; }
    .slider{
        width: 1100px;
        height: 600px;
        position: relative;
        margin: 0 auto;
        overflow: hidden; 
    }
    .slider input[type=radio]{
        display: none;
    }
    ul.imgs{
        padding: 0;
        margin: 0;
        list-style: none;    
    }
    ul.imgs li{
        position: absolute;
        left: 1100px;
        transition-delay: 1s; 
        margin: 0;
    }
    ul.imgs li img{
        width: 1100px;
        height: 600px;
    }
    .bullets{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        z-index: 2;
    }
    .bullets label{
        display: inline-block;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.55);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    
    .slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
        background-color: #fff;
    }
    .slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
        background-color: #fff;
    }
    .slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
        background-color: #fff;
    }
    .slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
        background-color: #fff;
    }
    .slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
        left: 0;
        transition: 0.5s;
        z-index:1;
    }
    .slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
        left: 0;
        transition: 0.5s;
        z-index:1;
    }
    .slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
        left: 0;
        transition: 0.5s;
        z-index:1;
    }
    .slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
        left: 0;
        transition: 0.5s;
        z-index:1;
    }