@charset "utf-8";
#apple_game {
  width: 800px;
  height: 600px;
  background-color: chartreuse;
  margin: 0 auto;
}

#wrap {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

table {
  width: 600px;
  height: 600px;
  border-spacing: 0;
}
table tr td {
  border: 1px solid black;
  height: 30px;
  width: 30px;
}
img {
  width: 46px;
  /* 폭탄 안보이게 하는 방법    
    1. display: none;
    2. opacity: 0; */
}
